<% provide(:title, "History") %>

<div class="container content-container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 center">
      <h1 class="center">History of FFBL</h1>
    </div>
    <div class="col-sm-10 col-sm-offset-1 history">
      
      <p class="give-me-top-margin"><%= image_tag("franklinsign.png", :alt => "Franklin, MA", :class => "img-left-small") %>The Franklin League has a storied history, made rich both by the players who have called it home and the managers who have guided those players to success.</p>

      <p class="give-me-top-margin">In the summer of 2000, Nathan “Cat” created a crude fantasy baseball league through the Echelon Entertainment Co., which is no longer in business. The league had the bare necessities: a points league in which managers could pay fees to pick up and drop players, employing them for salaries that fluctuated based on performance.</p>

      <p class="give-me-top-margin">The managers in this Echelon league are now immortalized in the annals of Franklin Fantasy history: Riccio. Lynch. Giardini. Even Jidge. The list goes on, with the names of those greats that no one will ever forget. Anthony D., the manager of the now-famous *Geckos* won that legendary league, despite joining two months into the summer, and from there, a dynasty was born.</p>

      <p class="give-me-top-margin">This league had myriad flaws, but the forefathers knew no better, and so they persisted. They persisted through 10:00 AM roster change deadlines, Rosewood discussions and ICQ conversations. They persisted through the Ken Griffey Jrs.and the Mark McGwires and the Roy Oswalts. They persisted through players being signed to no teams in the league, to all teams in the league, and everything in between. And they persisted even when the Echelon Entertainment Co. was integrated into the immortal Swirve.com, Inc. in May of 2000.</p>

      <p class="give-me-top-margin"><%= image_tag("franklingazebo.png", :alt => "Franklin, MA", :class => "img-right") %>Yet it was the turn of the century, and these giants among men, these leaders of our time, knew that they wanted something better. Something greater. Something beyond the scope of their wildest fantasy dreams. All they needed was a chance, which came in the fledgling spring months of 2002. Snow was melting, birds were singing, and a new era of Franklin Fantasy Baseball was born. Nathan “Cat” again made his mark as a pioneer, creating the now-legendary CBS Sportsline fantasy league that would trigger an unpredictable whirlwind of events in just a few short years.</p>

      <p class="give-me-top-margin">It seemed to be the natural start of a new era. But what happened that fatefulspring could be predicted by no one. Anthony D., one of the legendary Echelon league managers, was not satisfied with the step that Natecat proposed. Anthony did not just want a step; he wanted a leap, and that leap came when hecreated a league through the Yahoo! company just days after Natecat formed hisleague. Quickly recruiting managers, Anthony emphasized to Natecat the benefits of the new Yahoo! league, and the two collaborated on this new creation, with Anthony taking the helm as Commissioner, and Natecat as his right-hand man.</p>

      <p class="give-me-top-margin">That 2002 season was a monumental, yet simultaneously frightening step. No one, not even Natecat or Anthony, knew how the league would function, and mostimportantly, what the response of their league-mates would be.</p>

      <p class="give-me-top-margin">Yet after a confusing first week of acclimation, the league began to prosper. The Franklin League enjoyed the successes of its first trade, its first postseason, and its first playoff champion, the Cowboys From Hell. Things were going so well that there seemed no reason to change.</p>

      <p class="give-me-top-margin">Yet change at this point seemed inevitable. Following a winter desolate of fantasy baseball, Anthony proposed what he and Natecat had discussed many times before, but never thought they could achieve: a keeper league.</p>

      <p class="give-me-top-margin"><%= image_tag("franklinhighschool.png", :alt => "Franklin, HS", :class => "img-left") %>Hurried preparations were made as the first-ever contraction process took place, new managers were appointed, offseason trades were processed, and keeper rules were established. That spring of 2003 also held the first-ever expansion draft, a seven-round affair that included the likes of Hideki Matsui, José Contreras, and Jason Schmidt. It also had its share of controversy and scandal, as the now infamous moves of blackballed fantasy rogue Thomas Cinelli established a new low for the league.</p>

      <p class="give-me-top-margin">Yet the Franklin League rebounded, and had its most successful season ever in 2003. The Cowboys From Hell won their second consecutive championship, expansion managers W.T. Partridge and J. “Who” Hu made splashes in their firstseasons, managers combined for over 8000 posts on the Yahoo! message board, and the first-ever monthly State of the League Addresses could only begin to chronicle the drama and passion that the league created.</p>

      <p class="give-me-top-margin">Yet despite the league's unparalleled successes in that 2003 campaign, the Franklin League brass was not satisfied. Once again a monumental breakthrough took place, this time shortly following the now-annual supplemental draft prior to the 2004 season. Often before these league executives have had dreams of implementing a minor league system to the Franklin League, but on February 4, 2004, that dream became a reality.</p>

      <p class="give-me-top-margin">Embraced by much of the league, the minor league system added a whole new dimension to fantasy baseball, and created immeasurable excitement around the league. This intensity, however, also caused the demise of many managers, and made the 2005 application process the biggest yet, with four new managers added to the league.</p>

      <p class="give-me-top-margin">The 2004 offseason also brought about even more changes to the league, with the first-ever Winter Meetings, held at a local Burger King franchise, and theadvent of a league message board. That was followed up with a 2005 summer thatproduced the closest title chase in league history, culminated by the Geckos winning their first-ever Franklin Fantasy Championship.</p>

      <p class="give-me-top-margin">The following offseason, the league underwent one of its biggest changes yet, adding two more teams and splitting into two eight-team divisions. The league was also rewarded with the purchase of FranklinFantasy.com, the new headquarters for all things Franklin Fantasy. But the more things changed, the more they stayed the same, as the Geckos captured their second straight championship, and their third division title in five years.</p>

      <div class="img-center center">
        <%= image_tag("ffbloriginalsite.png", :alt => "Franklinfantasy.com") %></br>
        <small>The original Franklin Fantasy Baseball League website</small>
      </div>
      
      <p class="give-me-top-margin">From there, the league entered its golden age. The Ninjas won their second championship in 2007, but far more importantly, the manager base began to remain static. People simply no longer left the league, and competitive balance benefited. The following year provided evidence when the Shawntendo All-Stars became the first expansion team ever to win an FFBL title, a feat the All-Stars repeated the following season. And in 2010, after one of the most successful two-year regular season runs in league history, the Purple Cobras finally broke through to win their first-ever Franklin Fantasy championship, before the Ninjas captured their record third title with a late run in 2011.</p>

      <p class="give-me-top-margin">In addition, camaraderie began reaching new highs at FFBL Weekend, which became an annual tradition during the summer of 2009. Over the years, FFBL Weekend has taken managers from Franklin to Norfolk, Mass., Chicago, San Diegoand beyond.</p>

      <div class="img-center center">
        <%= image_tag("ffblweekend.jpg", :alt => "FFBL Weekend Chicago") %></br>
        <small>FFBL Weekend in Chicago, September 6-8, 2013</small>
      </div>

      <p class="give-me-top-margin">The modern era of Franklin Fantasy Baseball has been full of similar twists and turns. With league parity at an all-time high and new names gracing the championship trophy each summer, FFBL continues to thrive well into the 21st century.</p>
    </div>
  </div>
</div>
