<%= provide(:title, "Cowboys From Hell | Hall of Fame") %>

<div class="container">
  <div class="row cfhhof main-image pad-my-bottom">

<!-- TITLE -->
<p align="center">
<font style="font-size: 28pt; font-weight: 700;" color="#990000" face="Verdana">
Cowboys from Hell Record Book
</font>
<br>
<font face="Verdana" color="#990000" size="4">2002-Present</font>
<br>
<br>
</p>

<!-- MLB Record Setters -->
<p align="center">
<font style="font-size: 18pt; font-weight: 700;" color="#990000" face="Verdana">
MLB Record Setters
</font><font size = "0"><br><br></font>
<table align="center" border=1>
<tr valight="middle">


 <td width=210>
  <p align="center">
  <font color="white">Eric Gagne<br>
  <%= image_tag("GagneSaveStreak.png", :alt => "Cowboy's Logo") %>
  <br>84 Consecutive Saves
  <br>August 26, 2002 - July 5, 2004
  </p>
 </td>

 <td width=210>
  <p align="center">
  <font color="white">Ichiro<br>
  <%= image_tag("IchiroHitsRecord.png", :alt => "Cowboy's Logo") %>
  <br>Most Hits in a Season (262)
  <br>2004
  </p>
 </td>

 <td width=210>
  <p align="center">
  <font color="white">Francisco Rodriguez<br>
  <%= image_tag("KRodSavesRecord.png", :alt => "Cowboy's Logo") %>
  <br>Most Saves in a Season (62)
  <br>2008
  </p>
 </td>

 <td width=210>
  <p align="center">
  <font color="white">Dallas Braden<br>
  <%= image_tag("BradenPerfectGame.png", :alt => "Cowboy's Logo") %>
  <br>Perfect Game
  <br>May 9, 2010&nbsp;
  </p>
 </td>

 <td width=210>
  <p align="center">
  <font color="white">Kenley Jansen<br>
  <%= image_tag("JansenK9Record.jpg", :alt => "Cowboy's Logo") %>
  <br>Highest K/9 in a Season (16.1)
  <br>2011
  </p>
 </td>


</tr>
</table>

<!-- Franchise Icons -->
<p align="center">
<font style="font-size: 18pt; font-weight: 700;" color="#990000" face="Verdana">
<br>Franchise Icons
</font><font size = "0"><br><br></font>
<table align="center" border=1>
<tr valight="middle">

 <td>
  <p align="center">
  <font color="white">Garret Anderson - OF<br>
  <%= image_tag("GarretAnderson.jpg", :alt => "Cowboy's Logo") %>
  <br>2002 - 2006, 2008
  </p>
 </td>

 <td>
  <p align="center">
  <font color="white">Miguel Tejada - SS<br>
  <%= image_tag("MiguelTejada.png", :alt => "Cowboy's Logo") %>
  <br>2002 - 2009
  </p>
 </td>


</tr>
</table>
</div>
</div>