<%= provide(:title, "Cowboys From Hell | 2010 Preseason Report") %>
<div class="container">
  <div class="row content-container minor-image pad-my-bottom">
    <div class="col-sm-12 center pad-my-bottom">
      <h1>Cowboys from Hell Preseason 2010</h1>
    </div>
      <!-- Written March 22, 2013 -->
    <div class="col-sm-6 col-sm-offset-1">
      <%= image_tag("cfhexclusive.png", :alt => "Cowboys Logo") %>
          
          
      <p class="give-me-top-margin">A far cry from their once dominating stature, the Cowboys from Hell are a team rebuilding with an eye for a future return to power.
      <p>The last two seasons saw trades of the Cowboys' top tier major league talent in an effort to find the building blocks of the future. Such players acquired via trade over this span include Howie Kendrick, Cameron Maybin, Brandon Wood, Colby Rasmus and Madison Bumgarner. </p>
      <p>This season, manager Jeff Varnum has turned his attention to pitching. Four of the team's five draft picks were pitchers, and as a result, four of the Cowboys' top five prospects are left handed starters. </p>
      <p>In 2010, the team should begin coming together around its new core of young, projectable players. Many players viewed as the team's foundation for the future are likely to be every day players for their major league clubs at some point this season. Even first round draft picks Aroldis Chapman and Drew Storen could make a splash in the majors this year. Both are expected to be impact players in 2011. </p>
      <p>The team has been waiting for Miguel Montero to blossom into an everyday, slugging catcher for nearly four years. The anticipation is that the wait is over. Last season, Montero batted .316 with 11 homeruns after the All-Star break. The team is also banking on minor league sluggers Maybin, Wood, Jeff Clement, Mat Gamel, and Matt Laporta to claim starting jobs and show why they were such highly touted prospects. </p>
      <p>The aforementioned hitters, matched up with a resurgent Kendrick, a toolsy Erick Aybar, and the steady Shin-Soo Choo could blossom into a respectable lineup for the Cowboys. And who can forget the Mexican pornstar Jorge Cantú? </p>
      <p>The potential emergence of this lineup has the Cowboys modestly looking to land eighth overall in the standings. </p>

    </div>
    <div class="col-sm-3">
      <table bgcolor="#990000" width="280" style="border-spacing: 1">
      <tr>
        <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP TEN<br>PROSPECTS</span></td> </tr>
      <tr>
      <td>
        <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
        <tbody>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">1.</span></td>
        <td><span><font size="-1">Madison Bumgarner, lhp</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2.</span></td>
        <td><span><font size="-1">Aroldis Chapman, lhp</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">3.</span></td>
        <td><span><font size="-1">Matthew Moore, lhp</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">4.</span></td>
        <td><span><font size="-1">Wilmer Flores, ss</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">5.</span></td>
        <td><span><font size="-1">Zach Britton, lhp</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">6.</span></td>
        <td><span><font size="-1">Ben Revere, of</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">7.</span></td>
        <td><span><font size="-1">Drew Storen, rhp</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">8.</span></td>
        <td><span><font size="-1">Zeke Spruill, rhp</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">9.</span></td>
        <td><span><font size="-1">Roger Kieschnick, of<br>
        </span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">10.</span></td>
        <td><span><font size="-1">Aaron Poreda, lhp</span></td> </tr>
        </tbody>
        </table>
      </td> </tr>
      <tr>
      <td align="center" bgcolor="#990000">
        <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">PROJECTED STARTING<br>2013 LINEUP</span>
      </td> </tr>
      <tr>
      <td>
        <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
        <tbody>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Catcher</span></td>
        <td nowrap="nowrap"><font size="-1">Migeul Montero</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">First Base</span></td>
        <td nowrap="nowrap"><font size="-1">Jorge Cantu</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Second Base</span></td>
        <td nowrap="nowrap"><font size="-1">Howie Kendrick</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Third Base</span></td>
        <td nowrap="nowrap"><font size="-1">Brandon Wood</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Shortstop</span></td>
        <td nowrap="nowrap"><font size="-1">Erick Aybar</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
        <td nowrap="nowrap"><font size="-1">Shin-Soo Choo</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
        <td nowrap="nowrap"><font size="-1">Cameron Maybin</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
        <td nowrap="nowrap"><font size="-1">Colby Rasmus</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
        <td nowrap="nowrap"><font size="-1">Matt Laporta</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
        <td nowrap="nowrap"><font size="-1">Mat Gamel</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 1 Starter</span></td>
        <td nowrap="nowrap"><font size="-1">Madison Bumgarner</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 2 Starter</span></td>
        <td nowrap="nowrap"><font size="-1">Aroldis Chapman</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 3 Starter</span></td>
        <td nowrap="nowrap"><font size="-1">Nick Blackburn</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 4 Starter</span></td>
        <td nowrap="nowrap"><font size="-1">Jeff Francis</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 5 Starter</span></td>
        <td nowrap="nowrap"><font size="-1">Matt Moore</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 1 Reliever</span></td>
        <td nowrap="nowrap"><font size="-1">Drew Storen</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 2 Reliever</span></td>
        <td nowrap="nowrap"><font size="-1">Daniel Schlereth</td> </tr> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">No. 3 Reliever</span></td>
        <td nowrap="nowrap"><font size="-1">James McDonald</td> </tr> </tr>
        </tbody>
        </table>
      </td> </tr>
      <tr>
      <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP PROSPECTS<br>OF THE PAST</span></td> </tr>
      <tr>
      <td>
        <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
        <tbody>
        <tr valign="top">
        <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
        <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
        <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2010</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2004</span></td>
        <td><font size="-1">Andy Marte, 3b</td>
        <td align="right"><font size="-1">Free Agent</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2005</span></td>
        <td><font size="-1">Andy Marte, 3b</td>
        <td align="right"><font size="-1">Free Agent</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
        <td><font size="-1">Rich Hill, lhp</td>
        <td align="right"><font size="-1">Free Agent</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
        <td><font size="-1">Miguel Montero, c</td>
        <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
        <td><font size="-1">Kosuke Fukudome, of</td>
        <td align="right"><font size="-1">Free Agent</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
        <td><font size="-1">Madison Bumgarner, lhp</td>
        <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
        </tbody>
        </table>
      </td> </tr>
      <tr>
      <td align="center" bgcolor="#990000">
      <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP DRAFT PICKS<br>OF THE PAST</span></td> </tr>
      <tr>
      <td>
        <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
        <tbody>
        <tr valign="top">
        <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
        <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
        <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2010</span></td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
        <td nowrap="nowrap"><font size="-1">Troy Patton, lhp</td>
        <td align="right"><font size="-1">Free Agent</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
        <td nowrap="nowrap"><font size="-1">Livan Hernandez, rhp</td>
        <td align="right"><font size="-1">Retired</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
        <td nowrap="nowrap"><font size="-1">Kosuke Fukudome, of</td>
        <td align="right"><font size="-1">Free Agent</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
        <td nowrap="nowrap"><font size="-1">Dayan Viciedo, 3b</td>
        <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
        <tr valign="top">
        <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
        <td nowrap="nowrap"><font size="-1">Aroldis Chapman</td>
        <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
        </tbody>
      </table>  
    </td> </tr>
    </table>
    </div>
    <div class="col-sm-12 center">
        <h3 class="pad-my-bottom">Other Preseason Reports</h3>
        <%= link_to "2011", cfhpre2011_path, class: "btn btn-cancel" %>
        <%= link_to "2012", cfhpre2012_path, class: "btn btn-cancel" %>
        <%= link_to "2013", cfhpre2013_path, class: "btn btn-cancel" %>
        <%= link_to "2014", cfhpre2014_path, class: "btn btn-cancel" %>
        <%= link_to "2015", cfhpre2015_path, class: "btn btn-cancel" %>
    </div>
  </div>
</div>