<%= provide(:title, "Cowboys From Hell | 2014 Preseason Report") %>
<div class="container">
  <div class="row content-container preseason-image pad-my-bottom">
    <div class="col-md-12 center pad-my-bottom">
      <h1>Cowboys from Hell Preseason 2014</h1>
    </div>
      <!-- Written March 22, 2013 -->
    <div class="col-md-5 col-md-offset-1 history">
      <%= image_tag("cfhexclusive.png", :alt => "Cowboys Logo") %>
      <p>Heading into the 2013 season, manager Jeff Varnum was advocating patience, convinced that his franchise's ascension had already started, but was going to take a few more seasons to unfold. Suffice it to say that even he, who saw the Cowboys from Hell as a team on the verge of becoming a contender&mdash;even when others did not&mdash;was pleasantly surprised by the results his team posted week in and week out. </p>
      <p>FFBL MVP Chris Davis was largely responsible for the surge in the Cowboys' offense and standing. And for every run Davis drove in, Matt Carpenter was scoring one. An unlikely hero, Carpenter was a late 2nd round pick from that year's supplemental draft. He was just one great part of the Cowboys' most promising draft class yet. One of the most fascinating players of the year, Yasiel Puig, was a late first round pick and was a contender for Rookie of the Year. </p>
      <p>MLB and FFBL Rookie of the Year winner, Jose Fernandez&mdash;who beat out Puig for the honors&mdash;was another key player in the success of 2013. Already boasting one of the strongest pitching staffs thanks to Bumgarner, Sale, Moore, Chapman, and Jansen, the addition of Fernandez to the pitchers assured the Cowboys winning quality categories nearly every matchup. </p>
      <p>The fortune doesn't end there&mdash;the farm system is still stocked well with prospects; both those ready to contribute at the major league level and those who aren't yet ready for the show but are amongst the top prospect lists of industry experts. Some lists rank as many as 10 of the franchise's prospects in the top 100. </p>
      <p>This year's top prospect is Athletics shortstop Addison Russell, who is slated to be the team's shortstop of the future. Russell has generated much fanfare recently, and rightfully so. He is followed by Jorge Soler and Jorge Alfaro, a pair of talent-laden power prospects who are coming up on very telling seasons. Also included in the list are prospects that didn't generate as much hype, but are now on the verge of being solid big league contributors. Erik Johnson could slot into the Cowboys' pitching staff as soon as this year, while Michael Choice and Josmil Pinto will be competing for starting gigs as well. </p>
      <p>Flying high off of his Manager of the Year nod, Varnum seeks to return his team to the glory of the league championship. It has been 10 years since the Cowboys were FFBL Champions; a time when the league itself was a mere two years old. Quite fitting to their name, this team has been to hell and is now back. </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <table bgcolor="#990000" width="280" style="border-spacing: 1">
    <tr>
      <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP TEN<br>PROSPECTS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="320" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">1.</span></td>
      <td><span><font size="-1">Addison Russell, ss</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">2.</span></td>
      <td><span><font size="-1">Jorge Soler, of</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">3.</span></td>
      <td><span><font size="-1">Jorge Alfaro, c</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">4.</span></td>
      <td><span><font size="-1">Erik Johnson, rhp</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">5.</span></td>
      <td><span><font size="-1">Michael Choice, of</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">6.</span></td>
      <td><span><font size="-1">Arismendy Alcantara, 2b/ss</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">7.</span></td>
      <td><span><font size="-1">Josmil Pinto, c</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">8.</span></td>
      <td><span><font size="-1">Hunter Harvey, rhp</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">9.</span></td>
      <td><span><font size="-1">Hunter Dozier, 3b/ss</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">10.</span></td>
      <td><span><font size="-1">Alex "Chi Chi" Gonzalez, rhp</span></td> </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000">
      <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">PROJECTED STARTING<br>2017 LINEUP</span>
    </td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="320" bgcolor="FFFFFF">
      <tbody>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Catcher</span></td>
      <td nowrap="nowrap"><font size="-1">Miguel Montero</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">First Base</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Davis</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Second Base</span></td>
      <td nowrap="nowrap"><font size="-1">Howie Kendrick</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Third Base</span></td>
      <td nowrap="nowrap"><font size="-1">Matt Carpenter</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Shortstop</span></td>
      <td nowrap="nowrap"><font size="-1">Addison Russell</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Yasiel Puig</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Leonys Martin</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Domonic Brown</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
      <td nowrap="nowrap"><font size="-1">Colby Rasmus</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
      <td nowrap="nowrap"><font size="-1">Michael Choice</td> </tr>
      
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Madison Bumgarner</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Sale</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Jose Fernandez</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Aroldis Chapman</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Kenley Jansen</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Michael Pineda</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
      <td nowrap="nowrap"><font size="-1">Matt Moore</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
      <td nowrap="nowrap"><font size="-1">Martin Perez</td> </tr>

      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Arismendy Alcantara</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Jorge Soler</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Todd Frazier</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Jose Quintana</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Erik Johnson</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Mike Leake</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">C.J. Wilson</td></tr> </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP PROSPECTS<br>OF THE PAST 10 YEARS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="320" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
      <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
      <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2014</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2004</span></td>
      <td><font size="-1">Andy Marte, 3b</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2005</span></td>
      <td><font size="-1">Andy Marte, 3b</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
      <td><font size="-1">Rich Hill, lhp</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
      <td><font size="-1">Miguel Montero, c</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
      <td><font size="-1">Kosuke Fukudome, of</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
      <td><font size="-1">Madison Bumgarner, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
      <td><font size="-1">Madison Bumgarner, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
      <td><font size="-1">Aroldis Chapman, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2012</span></td>
      <td><font size="-1">Matt Moore, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2013</span></td>
      <td><font size="-1">Jose Fernandez, rhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000">
    <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP DRAFT PICKS LAST 10 YEARS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="320" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
      <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
      <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2014</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
      <td nowrap="nowrap"><font size="-1">Troy Patton, lhp</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
      <td nowrap="nowrap"><font size="-1">Livan Hernandez, rhp</td>
      <td align="right"><font size="-1">Retired</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
      <td nowrap="nowrap"><font size="-1">Kosuke Fukudome, of</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
      <td nowrap="nowrap"><font size="-1">Dayan Viciedo, 3b</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
      <td nowrap="nowrap"><font size="-1">Aroldis Chapman, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Sale, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2012</span></td>
      <td nowrap="nowrap"><font size="-1">Leonys Martin, of<font size="-2"><sup> 2</sup></td>
      <td align="right"><font size="-1">Cowboys from Hell</td></tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2013</span></td>
      <td nowrap="nowrap"><font size="-1">Addison Russell, ss</td>
      <td align="right"><font size="-1">Cowboys from Hell</td></tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2014</span></td>
      <td nowrap="nowrap"><font size="-1">Hunter Harvey, rhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td></tr>
      </tr>
      </tbody>
      </table>  
    </td>
    </tr>
  </table>
</table>
    </div>
    <div class="col-sm-12 center">
      <h3 class="pad-my-bottom">Other Preseason Reports</h3>
      <%= link_to "2010", cfhpre2010_path, class: "btn btn-cancel" %>
      <%= link_to "2011", cfhpre2011_path, class: "btn btn-cancel" %>
      <%= link_to "2012", cfhpre2012_path, class: "btn btn-cancel" %>
      <%= link_to "2013", cfhpre2013_path, class: "btn btn-cancel" %>
      <%= link_to "2015", cfhpre2015_path, class: "btn btn-cancel" %>
    </div>
  </div>
</div>