<%= provide(:title, "Cowboys From Hell | 2015 Preseason Report") %>
<div class="container">
  <div class="row content-container minor-image pad-my-bottom">
    <div class="col-sm-12 center pad-my-bottom">
      <h1>Cowboys from Hell Preseason 2015</h1>
    </div>
      <!-- Written March 22, 2013 -->
    <div class="col-sm-6 col-sm-offset-1">
      <%= image_tag("cfhexclusive.png", :alt => "Cowboys Logo") %>
      <p class="give-me-top-margin">For the second straight year, the Cowboys from Hell posted the second best regular season record. 2014 also saw them finish 3rd in the playoffs&mdash;their highest finish in years. Despite this, 2014 was a disappointing season for the Cowboys from Hell. The team was falling apart at the seams by year's end. Losses of Jose Fernandez, Matt Moore, and eventually Yu Darvish weighed heavy on the pitching-centric Cowboys.</p>
      <p>Manager Jeff Varnum strayed from his usual patience-laden tactics and traded his top prospects for major league talent throughout the year. 5 of the organizations top 10 prospects from last year's list no longer don the CFH uniform. The additions of Darvish, Huston Street and Jose Reyes were welcome, but other trades were clear misses and the franchise fell short of the desired mark. Heading into 2015, Varnum is licking the wounds from a second half that saw his team limp into the playoffs and the stocks of the prospects he dealt rise through the roof.</p>
      <p>But with each new season comes a renewed hope, and 2015 is no different. Todd Frazier and Josh Harrison&mdash;two of the squad's top offensive performers last year&mdash;are ready to slot in at multiple positions, providing valuable lineup flexibility. Yasiel Puig and Matt Carpenter project to continue their solid performances, and scenery changes for the two longest tenured players, Miguel Montero and Howie Kendrick, forebode improved numbers.</p>
      <p>Chris Sale and Madison Bumgarner still anchor the top pitching staff in the league, complemented by lights out closers Aroldis Chapman and Kenley Jansen. With news that Darvish will miss the 2015 season, these players will be heavily relied upon to continue their success while the team awaits Fernandez and Moore to return from Tommy John surgery.</p>
      <p>For the farm system, Varnum sought value picks, adding MLB draftees Monte Harrison and Spencer Adams with back to back picks in the 2nd round&mdash;his first picks of this year's supplemental draft. Somehow, Adams is the only pitcher in the squad's minor leagues. Varnum is hoping that his 2nd and 3rd rounders pan out, because the next draft will likely see him in the same situation. Another championship would render this problem negligible. And that is what Varnum has his sights set for.</p>
    </div>
    <div class="col-sm-3">
      <table bgcolor="#990000" width="295" style="border-spacing: 1">
    <tr>
      <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP TEN<br>PROSPECTS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="295" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">1.</span></td>
      <td><span><font size="-1">Jesse Winker, of</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">2.</span></td>
      <td><span><font size="-1">Jorge Alfaro, c</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">3.</span></td>
      <td><span><font size="-1">Devon Travis, 2b</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">4.</span></td>
      <td><span><font size="-1">Chance Sisco, c</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">5.</span></td>
      <td><span><font size="-1">Andrew Susac, c</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">6.</span></td>
      <td><span><font size="-1">Francisco Mejia, c</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">7.</span></td>
      <td><span><font size="-1">Hunter Dozier, 3b</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">9.</span></td>
      <td><span><font size="-1">Garin Cecchini, 3b</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">8.</span></td>
      <td><span><font size="-1">Monte Harrison, of</span></td> </tr>
      <tr valign="top"><td><span style="font-weight: bold;"><font size="-1">10.</span></td>
      <td><span><font size="-1">Spencer Adams, rhp</span></td>
      </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000">
      <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">PROJECTED STARTING<br>2018 LINEUP</span>
    </td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="295" bgcolor="FFFFFF">
      <tbody>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Catcher</span></td>
      <td nowrap="nowrap"><font size="-1">Jorge Alfaro</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">First Base</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Davis</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Second Base</span></td>
      <td nowrap="nowrap"><font size="-1">Scooter Gennett</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Third Base</span></td>
      <td nowrap="nowrap"><font size="-1">Matt Carpenter</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Shortstop</span></td>
      <td nowrap="nowrap"><font size="-1">Jose Reyes</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Yasiel Puig</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Leonys Martin</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Colby Rasmus</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
      <td nowrap="nowrap"><font size="-1">Todd Frazier</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
      <td nowrap="nowrap"><font size="-1">Josh Harrison</td> </tr>
      
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Madison Bumgarner</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Sale</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Jose Fernandez</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Aroldis Chapman</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Kenley Jansen</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Michael Pineda</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
      <td nowrap="nowrap"><font size="-1">Addison Reed</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
      <td nowrap="nowrap"><font size="-1">Matt Moore</td> </tr>

      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">C.J. Cron</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Arismendy Alcantara</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Wilmer Flores</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Devon Travis</td> </tr> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Yu Darvish</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Mike Leake</td> </tr>
      <tr valign=“top”><td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Jose Quintana</td></tr> </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP PROSPECTS<br>OF THE PAST 10 YEARS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="295" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
      <td width="137" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
      <td width="123" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2014</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2005</span></td>
      <td><font size="-1">Andy Marte, 3b</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
      <td><font size="-1">Rich Hill, lhp</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
      <td><font size="-1">Miguel Montero, c</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
      <td><font size="-1">Kosuke Fukudome, of</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
      <td><font size="-1">Madison Bumgarner, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
      <td><font size="-1">Madison Bumgarner, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
      <td><font size="-1">Aroldis Chapman, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2012</span></td>
      <td><font size="-1">Matt Moore, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2013</span></td>
      <td><font size="-1">Jose Fernandez, rhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2014</span></td>
      <td><font size="-1">Addison Russell, ss</td>
      <td align="right"><font size="-1">Scranton Yankees</td> </tr>
      </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000">
    <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP DRAFT PICKS LAST 10 YEARS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="295" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
      <td width="125" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
      <td width="135" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2014</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
      <td nowrap="nowrap"><font size="-1">Troy Patton, lhp</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
      <td nowrap="nowrap"><font size="-1">Livan Hernandez, rhp</td>
      <td align="right"><font size="-1">Retired</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
      <td nowrap="nowrap"><font size="-1">Kosuke Fukudome, of</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
      <td nowrap="nowrap"><font size="-1">Dayan Viciedo, 3b</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
      <td nowrap="nowrap"><font size="-1">Aroldis Chapman, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Sale, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2012</span></td>
      <td nowrap="nowrap"><font size="-1">Leonys Martin, of<font size="-2"><sup> 2</sup></td>
      <td align="right"><font size="-1">Cowboys from Hell</td></tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2013</span></td>
      <td nowrap="nowrap"><font size="-1">Addison Russell, ss</td>
      <td align="right"><font size="-1">Scranton Yankees</td></tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2014</span></td>
      <td nowrap="nowrap"><font size="-1">Hunter Harvey, rhp</td>
      <td align="right"><font size="-1">Young T. Toolsheds</td></tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2015</span></td>
      <td nowrap="nowrap"><font size="-1">Monte Harrison, of<font size="-2"><sup> 2</sup></td>
      <td align="right"><font size="-1">Cowboys from Hell</td></tr>
      </tr>
      </tbody>
      </table>  
    </td>
    </tr>
  </table>
</table>

    </div>
    <div class="col-sm-12 center">
      <h3 class="pad-my-bottom">Other Preseason Reports</h3>
      <%= link_to "2010", cfhpre2010_path, class: "btn btn-cancel" %>
      <%= link_to "2011", cfhpre2011_path, class: "btn btn-cancel" %>
      <%= link_to "2012", cfhpre2012_path, class: "btn btn-cancel" %>
      <%= link_to "2013", cfhpre2013_path, class: "btn btn-cancel" %>
      <%= link_to "2014", cfhpre2014_path, class: "btn btn-cancel" %>
    </div>
  </div>
</div>