<%= provide(:title, "Cowboys From Hell | 2013 Preseason Report") %>
<div class="container">
  <div class="row content-container minor-image pad-my-bottom">
    <div class="col-sm-12 center pad-my-bottom">
      <h1>Cowboys from Hell Preseason 2013</h1>
    </div>
      <!-- Written March 22, 2013 -->
    <div class="col-sm-6 col-sm-offset-1">
      <%= image_tag("cfhexclusive.png", :alt => "Cowboys Logo") %>
          
          
      <p class="give-me-top-margin">One step at a time. The slow climb back to the top will only happen one step at a time. Last year's 9th place regular season finish tied the Cowboys' highest finish since 2006. Midseason 2012 found the Cowboys selling rather than buying. This year the Cowboys aim to be on the other side. Manager Jeff Varnum feels that his squad is close enough to the playoff picture where that will be his team's reality this year. </p>
      <p>From a rotisserie perspective, the 2012 Cowboys from Hell boasted one of the league's best pitching staffs. Lead by the trio of young starters Madison Bumgarner, Chris Sale and Matt Moore, and supported by strikeout kings Aroldis Chapman, Kenley Jansen and David Hernandez, the Cowboys pitchers are looking to repeat as a top tier staff this season. </p>
      <p>The big question is how the team's hitting will perform. Sluggers Dayan Viciedo, Ike Davis, and Chris Davis each boasts the ability to hit 30 homeruns. Complimented by steady production from Todd Frazier, Miguel Montero and Davis Freese, this year's hitting will be much more formidable. Add in minor league X-factors Domonic Brown, Leonys Martin and Nolan Arenado and it looks like the team's hitting is on the rise, following the path laid out by the young pitching. </p>
      <p>The Cowboys' farm system is fairly well stocked with highly regarded prospects and players almost ready to make an impact. Its hard to get excited about spring training, but Domonic Brown is finally showing signs of life. This season the franchise's #1 prospect is Miami hurler Jose Fernandez. A fast riser from the 2012 FFBL draft class, Fernandez cruised through A and A+ leagues. </p>
      <p>This year's draft class is looking fairly promising as well, with many scouts lavishing praise on first round picks Addison Russell and Yasiel Puig, as well as training second baseman Matt Carpenter. Puig is part of the Cowboys' growing presence of International players. Puig, Leonys Martin and Jorge Soler are all players who should be able to contribute at the major league level within a few years. </p>
      <p>The preseason typically looks favorably upon the future, but the hope this season feels more palpable. The franchise's goal is to keep creeping up the standings and to finish in the top half of the league this season. </p>
    </div>
    <div class="col-sm-3">
      <table bgcolor="#990000" style="border-spacing: 1">
        <tr>
          <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP TEN<br>PROSPECTS</span></td> 
        </tr>
          <tr>
          <td>
            <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
            <tbody>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">1.</span></td>
            <td><span><font size="-1">Jose Fernandez, rhp</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2.</span></td>
            <td><span><font size="-1">Addison Russell, ss</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">3.</span></td>
            <td><span><font size="-1">Jorge Soler, of</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">4.</span></td>
            <td><span><font size="-1">Nolan Arenado, 3b</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">5.</span></td>
            <td><span><font size="-1">Yasiel Puig, of</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">6.</span></td>
            <td><span><font size="-1">Martin Perez, lhp</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">7.</span></td>
            <td><span><font size="-1">Leonys Martin, of</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">8.</span></td>
            <td><span><font size="-1">Jorge Alfaro, c</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">9.</span></td>
            <td><span><font size="-1">Michael Choice, of</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">10.</span></td>
            <td><span><font size="-1">Brett Jackson, of</span></td> </tr>
            </tbody>
            </table>
          </td> </tr>
          <tr>
          <td align="center" bgcolor="#990000">
            <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">PROJECTED STARTING<br>2016 LINEUP</span>
          </td> </tr>
          <tr>
          <td>
            <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
            <tbody>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Catcher</span></td>
            <td nowrap="nowrap"><font size="-1">Miguel Montero</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">First Base</span></td>
            <td nowrap="nowrap"><font size="-1">Ike Davis</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Second Base</span></td>
            <td nowrap="nowrap"><font size="-1">Howie Kendrick</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Third Base</span></td>
            <td nowrap="nowrap"><font size="-1">David Freese</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Shortstop</span></td>
            <td nowrap="nowrap"><font size="-1">Erick Aybar</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
            <td nowrap="nowrap"><font size="-1">Leonys Martin</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
            <td nowrap="nowrap"><font size="-1">Cameron Maybin</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
            <td nowrap="nowrap"><font size="-1">Domonic Brown</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
            <td nowrap="nowrap"><font size="-1">Dayan Viciedo</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
            <td nowrap="nowrap"><font size="-1">Chris Davis</td> </tr>
            
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
            <td nowrap="nowrap"><font size="-1">Madison Bumgarner</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
            <td nowrap="nowrap"><font size="-1">Chris Sale</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
            <td nowrap="nowrap"><font size="-1">Matt Moore</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
            <td nowrap="nowrap"><font size="-1">Aroldis Chapman</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
            <td nowrap="nowrap"><font size="-1">Drew Storen</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
            <td nowrap="nowrap"><font size="-1">Kenley Jansen</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
            <td nowrap="nowrap"><font size="-1">Michael Pineda</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
            <td nowrap="nowrap"><font size="-1">Ross Detwiler</td> </tr>

            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
            <td nowrap="nowrap"><font size="-1">Nolan Arenado</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
            <td nowrap="nowrap"><font size="-1">Mitch Moreland</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
            <td nowrap="nowrap"><font size="-1">Todd Frazier</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
            <td nowrap="nowrap"><font size="-1">Jose Fernandez</td> </tr> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
            <td nowrap="nowrap"><font size="-1">Martin Perez</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
            <td nowrap="nowrap"><font size="-1">Zach Britton</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
            <td nowrap="nowrap"><font size="-1">James McDonald</td> </tr> </tr>

            </tbody>
            </table>
          </td> </tr>
          <tr>
          <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP PROSPECTS<br>OF THE PAST</span></td> </tr>
          <tr>
          <td>
            <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
            <tbody>
            <tr valign="top">
            <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
            <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
            <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2013</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2004</span></td>
            <td><font size="-1">Andy Marte, 3b</td>
            <td align="right"><font size="-1">Free Agent</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2005</span></td>
            <td><font size="-1">Andy Marte, 3b</td>
            <td align="right"><font size="-1">Free Agent</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
            <td><font size="-1">Rich Hill, lhp</td>
            <td align="right"><font size="-1">Free Agent</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
            <td><font size="-1">Miguel Montero, c</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
            <td><font size="-1"> Kosuke Fukudome, of</td>
            <td align="right"><font size="-1">Free Agent</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
            <td><font size="-1">Madison Bumgarner, lhp</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
            <td><font size="-1">Madison Bumgarner, lhp</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
            <td><font size="-1">Aroldis Chapman, lhp</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2012</span></td>
            <td><font size="-1">Matt Moore, lhp</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            </tr>
            </tbody>
            </table>
          </td> </tr>
          <tr>
          <td align="center" bgcolor="#990000">
          <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP DRAFT PICKS</span></td> </tr>
          <tr>
          <td>
            <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
            <tbody>
            <tr valign="top">
            <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
            <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
            <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2013</span></td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
            <td nowrap="nowrap"><font size="-1">Troy Patton, lhp</td>
            <td align="right"><font size="-1">Free Agent</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
            <td nowrap="nowrap"><font size="-1">Livan Hernandez, rhp</td>
            <td align="right"><font size="-1">Retired</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
            <td nowrap="nowrap"><font size="-1">Kosuke Fukudome, of</td>
            <td align="right"><font size="-1">Free Agent</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
            <td nowrap="nowrap"><font size="-1">Dayan Viciedo, 3b</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
            <td nowrap="nowrap"><font size="-1">Aroldis Chapman, lhp</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
            <td nowrap="nowrap"><font size="-1">Chris Sale, lhp</td>
            <td align="right"><font size="-1">CFH</td> </tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2012</span></td>
            <td nowrap="nowrap"><font size="-1">Leonys Martin, of<font size="-2"><sup> 2</sup></td>
            <td align="right"><font size="-1">CFH</td></tr>
            <tr valign="top">
            <td><span style="font-weight: bold;"><font size="-1">2013</span></td>
            <td nowrap="nowrap"><font size="-1">Addison Russell, ss</td>
            <td align="right"><font size="-1">CFH</td></tr>
            </tr>
            </tbody>
            </table>  
          </td>
          </tr>
        </table>
      </table>
    </div>
    <div class="col-sm-12 center">
      <h3 class="pad-my-bottom">Other Preseason Reports</h3>
      <%= link_to "2010", cfhpre2010_path, class: "btn btn-cancel" %>
      <%= link_to "2011", cfhpre2011_path, class: "btn btn-cancel" %>
      <%= link_to "2012", cfhpre2012_path, class: "btn btn-cancel" %>
      <%= link_to "2014", cfhpre2014_path, class: "btn btn-cancel" %>
      <%= link_to "2015", cfhpre2015_path, class: "btn btn-cancel" %>
    </div>
  </div>
</div>