<%= provide(:title, "Cowboys From Hell | 2012 Preseason Report") %>
<div class="container">
  <div class="row content-container minor-image pad-my-bottom">
    <div class="col-sm-12 center pad-my-bottom">
      <h1>Cowboys from Hell Preseason 2012</h1>
    </div>
      <!-- Written March 22, 2013 -->
    <div class="col-sm-6 col-sm-offset-1">
      <%= image_tag("cfhexclusive.png", :alt => "Cowboys Logo") %>
               
      <p class="give-me-top-margin">Rising six places in the standings, the Cowboys from Hell are beginning their ascent back into respectable territory. Past investments in the future are beginning to pay dividends. Franchise building blocks are beginning to establish themselves in The Show, and their arrivals are expected to push the team to its most successful season in years. </p>
      <p>Lead by starters Madison Bumgarner and Michael Pineda, the Cowboys boast one of the best pitching staffs in the league. Manager Jeff Varnum has paid careful attention assembling his cast of young arms. As consensus top prospect Matt Moore graduates to the Show, the pitching becomes the strongest it has been since 2004. Complimented by additional young arms Mike Leake, Zach Britton, Chris Sale and Aroldis Chapman, the rotation is poised to raise this franchise back into the big picture. Drew Storen and Kenlsey Jansen guarantee that the relief corp will boost strikeout totals and deliver quality ratios. </p>
      <p>The hitting is lead by steady moderate producers Miguel Montero and Howie Kendrick. Ike Davis is expected to be 100% this season and is being counted on to repeat the success he demonstrated last season before being injured. Speed threats Cameron Maybin, Erick Aybar and new addition Leonys Martin should keep the Cowboys contending in stolen bases week to week. If Jeff Francoeur and J.J. Hardy post similar seasons to 2011&mdash;or Colby Rasmus recovers from his&mdash;the team's hitting could surprise and be at least middle of the pack. </p>
      <p>The top 10 prospects for this season are thinner than in recent years due to numerous graduates last season. Dayan Viciedo, Jerry Sands and latest acquisition Domonic Brown are some of the promising batters who are ineligible for prospect status. In this case, the lack of depth in the prospect rankings does not indicate a lack of talent in the minors. There are players who are one small adjustment away from becoming regulars in the majors. </p>
      <p>Varnum is hoping that the 2012 season will be the return to relevance for his franchise. The Cowboys from Hell are young and projectable. The number of players who fulfill their potenetial will make or break the year. </p>

    </div>
    <div class="col-sm-3">
      <table bgcolor="#990000" width="280" style="border-spacing: 1">
    <tr>
      <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP TEN<br>PROSPECTS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">1.</span></td>
      <td><span><font size="-1">Matt Moore, lhp</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2.</span></td>
      <td><span><font size="-1">Martin Perez, lhp</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">3.</span></td>
      <td><span><font size="-1">Michael Choice, of</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">4.</span></td>
      <td><span><font size="-1">Leonys Martin, of</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">5.</span></td>
      <td><span><font size="-1">Brandon Jacobs, of</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">6.</span></td>
      <td><span><font size="-1">Jose Fernandez, rhp</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">7.</span></td>
      <td><span><font size="-1">Jorge Alfaro, c</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">8.</span></td>
      <td><span><font size="-1">James Darnell, 3b</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">9.</span></td>
      <td><span><font size="-1">Wilmer Flores, 3b</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">10.</span></td>
      <td><span><font size="-1">Tanner Scheppers, rhp</span></td> </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000">
      <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">PROJECTED STARTING<br>2015 LINEUP</span>
    </td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Catcher</span></td>
      <td nowrap="nowrap"><font size="-1">Miguel Montero</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">First Base</span></td>
      <td nowrap="nowrap"><font size="-1">Ike Davis</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Second Base</span></td>
      <td nowrap="nowrap"><font size="-1">Howie Kendrick</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Third Base</span></td>
      <td nowrap="nowrap"><font size="-1">James Darnell</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Shortstop</span></td>
      <td nowrap="nowrap"><font size="-1">J.J. Hardy</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Colby Rasmus</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Cameron Maybin</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Outfield</span></td>
      <td nowrap="nowrap"><font size="-1">Jeff Francouer</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
      <td nowrap="nowrap"><font size="-1">Domonic Brown</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Utility</span></td>
      <td nowrap="nowrap"><font size="-1">Dayan Viciedo</td> </tr>
      
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Madison Bumgarner</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Michael Pineda</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Starter</span></td>
      <td nowrap="nowrap"><font size="-1">Matt Moore</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Drew Storen</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Kenley Jansen</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Reliever</span></td>
      <td nowrap="nowrap"><font size="-1">Aroldis Chapman</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
      <td nowrap="nowrap"><font size="-1">Mike Leake</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Pitcher</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Sale</td> </tr>

      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Zach Britton</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Jerry Sands</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Michael Choice</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Leonys Martin</td> </tr> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Martin Perez</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Ryan Kalish</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">Bench</span></td>
      <td nowrap="nowrap"><font size="-1">Jake Peavy</td> </tr> </tr>

      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000"><span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP PROSPECTS<br>OF THE PAST</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
      <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
      <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2012</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2004</span></td>
      <td><font size="-1">Andy Marte, 3b</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2005</span></td>
      <td><font size="-1">Andy Marte, 3b</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
      <td><font size="-1">Rich Hill, lhp</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
      <td><font size="-1">Miguel Montero, c</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
      <td><font size="-1">Kosuke Fukudome, of</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
      <td><font size="-1">Madison Bumgarner, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
      <td><font size="-1">Madison Bumgarner, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
      <td><font size="-1">Aroldis Chapman, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      </tbody>
      </table>
    </td> </tr>
    <tr>
    <td align="center" bgcolor="#990000">
    <span style="font-weight: bold; color: rgb(255, 255, 255);"><font size="-1">TOP DRAFT PICKS</span></td> </tr>
    <tr>
    <td>
      <table class="small" border="0" cellpadding="1" cellspacing="0" width="280" bgcolor="FFFFFF">
      <tbody>
      <tr valign="top">
      <td width="35"><span style="font-weight: bold;"><font size="-1">Year</span></td>
      <td width="136" nowrap="nowrap"><span style="font-weight: bold;"><font size="-1">Player, Position</span></td>
      <td width="109" nowrap="nowrap" align="right"><span style="font-weight: bold;"><font size="-1">2012</span></td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2006</span></td>
      <td nowrap="nowrap"><font size="-1">Troy Patton, lhp</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2007</span></td>
      <td nowrap="nowrap"><font size="-1">Livan Hernandez, rhp</td>
      <td align="right"><font size="-1">Retired</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2008</span></td>
      <td nowrap="nowrap"><font size="-1">Kosuke Fukudome, of</td>
      <td align="right"><font size="-1">Free Agent</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2009</span></td>
      <td nowrap="nowrap"><font size="-1">Dayan Viciedo, 3b</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2010</span></td>
      <td nowrap="nowrap"><font size="-1">Aroldis Chapman, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2011</span></td>
      <td nowrap="nowrap"><font size="-1">Chris Sale, lhp</td>
      <td align="right"><font size="-1">Cowboys from Hell</td> </tr>
      <tr valign="top">
      <td><span style="font-weight: bold;"><font size="-1">2012</span></td>
      <td nowrap="nowrap"><font size="-1">Leonys Martin, OF<font size="-2"><sup> 2</sup></td>
      <td align="right"><font size="-1">Cowboys from Hell</td></tr>
      </tr>
      </tbody>
      </table>  
    </td>
    </tr>
  </table>
</table>
    </div>
    <div class="col-sm-12 center">
      <h3 class="pad-my-bottom">Other Preseason Reports</h3>
      <%= link_to "2010", cfhpre2010_path, class: "btn btn-cancel" %>
      <%= link_to "2011", cfhpre2011_path, class: "btn btn-cancel" %>
      <%= link_to "2013", cfhpre2013_path, class: "btn btn-cancel" %>
      <%= link_to "2014", cfhpre2014_path, class: "btn btn-cancel" %>
      <%= link_to "2015", cfhpre2015_path, class: "btn btn-cancel" %>
    </div>
  </div>
</div>