<div class="container">
  <div class="row content-container white-background">

<p class="give-me-top-margin" align="center">
<font style="font-size: 28pt; font-weight: 700;" color="#990000" face="Verdana">
Cowboys from Hell Trophy Room
</font></p>

<!-- Banners and Logo -->
<table align="center">
<tr valign="middle">
  <td>
    <%= image_tag("banner2002.PNG", :alt => "Cowboys Logo") %>
    <%= image_tag("CFH_LOGO_2009.JPG", :alt => "Cowboys Logo") %>
    <%= image_tag("banner2003.PNG", :alt => "Cowboys Logo") %>
  </td>
</tr></table>
</p>

<!-- Pennants -->
<p align="center">
<font face="Verdana" color="#990000" size="4">Pennants</font>
</p>
<p align="center">
  <%= image_tag("pennant2003.PNG", :alt => "Cowboys Logo") %>
  <%= image_tag("pennant2015.PNG", :alt => "Cowboys Logo") %>
<br>&nbsp;<br>&nbsp;
</p>

<!-- Individual Awards -->
<!-- Font in pictures is 10 pt Arial -->
<p align="center">
<font face="Verdana" color="#990000" size="4">Individual Awards</font>
</p>
<table align="center">
<tr valign="middle">
<td></td>
<td>
  <%= image_tag("cfh2002psmvp.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2003psmvp.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2003roy.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2004cy.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2006cy.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2008cy.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2013mvp.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2013roy.jpg", :alt => "Cowboys Logo") %>
  <%= image_tag("cfh2013moy.jpg", :alt => "Cowboys Logo") %>
</td>
<td></td>
</tr></table>
</p>
</div>
</div>