<% provide(:title, "Documents") %>

<div class="container content-container">
  <div class="row documents">
    <div class="col-sm-12 center pad-my-bottom">
      <h1>Documents</h1>
    </div>
    <div class="col-md-4 center">
      <h3>Supplemental Drafts</h3>
      <div class="give-me-top-margin">  
        <iframe src="https://docs.google.com/spreadsheets/d/1FxkKgJ_4vG-YKpA56MvbebPI6exSf4PJ6LU6j0wn7HU/pubhtml?widget=true&amp;headers=false"></iframe>
      </div>
      <div class="give-me-top-margin pad-my-bottom">
        <%= link_to "Full Size Draft Results", "https://docs.google.com/spreadsheets/d/1FxkKgJ_4vG-YKpA56MvbebPI6exSf4PJ6LU6j0wn7HU/pubhtml", :target => "_blank", class: "btn btn-lg btn-cancel" %>
      </div>
    </div>

    <div class="col-md-4 center">
      <div class="document-mobile">
      </div>
      <h3>Expansion Drafts</h3>
      <div class="give-me-top-margin">  
        <iframe src="https://docs.google.com/spreadsheets/d/1KZ5kdC9d5LOKVvJTBt1_Waz1yx7emOWa_sSJWOjZISk/pubhtml?widget=true&amp;headers=false"></iframe>
      </div>
      <div class="give-me-top-margin pad-my-bottom">
        <%= link_to "Full Size Draft Results", "https://docs.google.com/spreadsheets/d/1KZ5kdC9d5LOKVvJTBt1_Waz1yx7emOWa_sSJWOjZISk/pubhtml", :target => "_blank", class: "btn btn-lg btn-cancel" %>
      </div>
    </div>

    <div class="col-md-4 center">
      <div class="document-mobile">
      </div>
      <h3>Transactions</h3>
      <div class="give-me-top-margin">  
        <iframe src="https://docs.google.com/spreadsheets/d/1JoN435FiIOrRW0-lMIkknSzvC4ivPQg6W8-HChhOtlE/pubhtml?widget=true&amp;headers=false"></iframe>
      </div>
      <div class="give-me-top-margin pad-my-bottom">
        <%= link_to "Full Size Transactions", "https://docs.google.com/spreadsheets/d/1JoN435FiIOrRW0-lMIkknSzvC4ivPQg6W8-HChhOtlE/pubhtml", :target => "_blank", class: "btn btn-lg btn-cancel" %>
      </div>
    </div>


    <div class="col-md-12 center give-me-top-margin">
      <%= link_to "Blue Hell Awards", "#/", class: "btn btn-lg blue-hell-button" %>
    </div>

    <div class="blue-hell-content">
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2014.PNG", :alt => "BH 2014") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2013.PNG", :alt => "BH 2013") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2012.PNG", :alt => "BH 2012") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2011.PNG", :alt => "BH 2011") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2010.PNG", :alt => "BH 2010") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2009.PNG", :alt => "BH 2009") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2008.PNG", :alt => "BH 2008") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2007.PNG", :alt => "BH 2007") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2006.PNG", :alt => "BH 2006") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2005.PNG", :alt => "BH 2005") %>
      </div>
      <div class="col-md-10 col-md-offset-1 center give-me-top-margin">
        <%= image_tag("BH2004.PNG", :alt => "BH 2004") %>
      </div>
      <div class="col-md-12 center give-me-top-margin">
        <%= link_to "Hide Blue Hell Awards", "#/", class: "btn btn-lg blue-hell-button" %>
      </div>
    </div>
  </div>
</div>
