<% if logged_in? %>
	<div class="container content-container">
		<div class="row center">
			<div class="jumbotron">
				<h3>Thanks for logging in, <%= current_user.name %>!</h3>
				<h1>What would you like to do?</h1>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<table class="table">
					<tr>
						<td><h2><%= link_to "View Team", user_path(current_user), class: "team-link" %></h2></td>
						<td><h2><%= link_to "Visit Message Board", posts_path, class: "team-link" %></h2></td>
					</tr>
					<tr>
						<td><h2><%= link_to "Check Player Database", players_path, class: "team-link" %></h2></td>
						<td><h2><%= link_to "View League Transactions", transactions_path, class: "team-link" %><h2></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

<% else %>
	<div class="container content-container">
		<div class="row">
		  <div class="center jumbotron">
		    <h1>Welcome to the Franklin Fantasy Baseball League</h1>
		    <h3>Your home for competitive Fantasy Baseball since 2002</h3>
		    <%= link_to "Log In", login_path, class: "btn btn-lg btn-cancel give-me-top-margin" %>
		  </div>
		</div>
	</div>
<% end %>

<div class="container content-container">
	<div class="row">
		<div class="center col-sm-6">
			<%= render 'players/player_search_form' %>
		</div>
		<div class="center col-sm-6">
			<%= render 'transactions/transaction_search_form' %>
		</div>
	</div>
</div>

<div class="container content-container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Recent Transactions</h2>
			<div class="give-me-top-margin">
				<table class="table">
					<%= render 'transactions/recent_transactions' %>
				</table>
				<p><%= link_to "View all transactions....", transactions_path, class: "team-link" %></p>
			</div>
		</div>
	</div>
</div>

<% if logged_in? %>
	<div class="container content-container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Recent Posts</h2>
			</div>
			<div class="col-sm-12">
				<%= link_to "Create a New Topic", new_post_path, class: "btn btn-cancel" %>
			</div>
			<div class="col-sm-12">
				<table class="table">
					<%= render 'posts/recent_posts' %>
				</table>
				<p><%= link_to "View all posts....", posts_path, class: "team-link" %></p>
			</div>
		</div>
	</div>
<% end %>


