<%= provide(:title, "Log In") %>

<h1>Log in</h1>

<%= simple_form_for :session, url: login_path do |f| %>
  <%= f.input :email, class: "form-control" %>
  <%= f.input :password, class: "form-control" %>
  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>