<%= provide(:title, "Log In") %>

<h1>Log in</h1>

<%= simple_form_for :session, url: login_path do |f| %>
  <%= f.input :email, class: "form-control", :required => false %>
  <%= f.input :password, class: "form-control", :required => false %>
  <%= f.check_box :remember_me %>
  <span>Remember me on this computer</span></br>
  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>