<table class="table table-striped table-condensed">
  <tr>
    <th>Over</th>
    <th>Under</th>
    <th>Bet Info</th>
    <th>Stakes</th>
    <th>Winner</th>
    <% if logged_in? && current_user.admin? %>
      <th>Update</th>
    <% end %>
  </tr>

  <% @sidebets.each do |bet| %>
  <tr>
    <td><%= bet.over %></td>
    <td><%= bet.under %></td>
    <td><%= bet.bet_info %></td>
    <td><%= bet.stakes %></td>
    <% if !bet.winner.blank? %>
      <td><%= bet.winner %></td>
    <% else %>
      <td>TBD</td>
    <% end %>
    
    <% if logged_in? && current_user.admin? %>
      <td><%= link_to "Update Bet", edit_sidebet_path(bet), :"data-no-turbolink" => true, class: "btn btn-drop" %></td>
    <% end %>
  </tr>
  <% end %>
</table>