<% provide(:title, "Sign Up") %>

<h1>FFBL Sign Up Page</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name, label: "Full Name" %>
  <%= f.input :email %>
  <%= f.input :team, label: "FFBL Team Name" %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>