<%= provide(:title, @user.team) %>

<div class="container">
	<div class="row content-container main-image pad-my-bottom">
		<% if !@user.about.blank? %>
			<div class="col-sm-2 center give-me-top-margin">
				<%= image_tag((@user.id).to_s + "main.PNG", :alt => @user.team + " Logo") %>
			</div>
			<div class="col-sm-4">
				<h1><%= @user.team %></h1>
				<h4>Managed by: <%= @user.name %></h4>
				<p>Current Roster Size:  <%= @players.where("level_id != 6").count %> players</p>
				<small>(<%= @user.transactions.all.count %> website transactions made)</small>
				
			</div>
			<div class="col-sm-6">
				<h3 class="center">More about us:</h3>
				<p><%= simple_format(@user.about) %></p>
				<% if @user.id == 3 %>
					<div class="row give-me-top-margin">
						<div class="col-md-4">
							<%= link_to "Trophy Room", cfhtr_path, class: "btn btn-cancel give-me-top-margin" %>
						</div>
						<div class="col-md-4">
							<%= link_to "Hall of Fame", cfhhof_path, class: "btn btn-cancel give-me-top-margin" %>
						</div>
						<div class="col-md-4">
							<% if !@user.preseason_reports.empty? %>
								<%= link_to "Preseason Report", preseason_report_path(@preseason_report), class: "btn btn-cancel give-me-top-margin" %>
							<% else %>
								<%= link_to "Preseason Report", cfhpre2015_path, class: "btn btn-cancel give-me-top-margin" %>
							<% end %>
						</div>
					</div>
				<% elsif @user.varnum? %>
					<% if !@user.preseason_reports.empty? %>
						<div class="row give-me-top-margin">
							<div class="col-md-4 col-md-offset-4">
								<%= link_to "Preseason Report", preseason_report_path(@preseason_report), class: "btn btn-cancel give-me-top-margin" %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		<% else %>
			<div class="col-sm-2 center give-me-top-margin">
				<%= image_tag((@user.id).to_s + "main.PNG", :alt => @user.team + " Logo") %>
			</div>
			<div class="col-sm-8 center">
				<h1><%= @user.team %></h1>
				<h4>Managed by: <%= @user.name %></h4>
				<p>Current Roster Size:  <%= @players.where("level_id != 6").count %> players</p>
				<small>(<%= @user.transactions.all.count %> website transactions made)</small>
				<% if @user.id == 3 %>
					<div class="row">
						<div class="col-sm-4">
							<%= link_to "Trophy Room", cfhtr_path, class: "btn btn-cancel give-me-top-margin" %>
						</div>
						<div class="col-sm-4">
							<%= link_to "Hall of Fame", cfhhof_path, class: "btn btn-cancel give-me-top-margin" %>
						</div>
						<div class="col-sm-4">
							<% if !@user.preseason_reports.empty? %>
								<%= link_to "Preseason Report", preseason_report_path(@preseason_report), class: "btn btn-cancel give-me-top-margin" %>
							<% else %>
								<%= link_to "Preseason Report", cfhpre2015_path, class: "btn btn-cancel give-me-top-margin" %>
							<% end %>
						</div>
					</div>
				<% elsif @user.varnum? %>
					<% if !@user.preseason_reports.empty? %>
						<div class="row give-me-top-margin">
							<div class="col-md-4 col-md-offset-4">
								<%= link_to "Preseason Report", preseason_report_path(@preseason_report), class: "btn btn-cancel give-me-top-margin" %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>


	<div class="row center content-container">
		<% if @players.where(level_id: 1).count > 25 %>
			<div class="col-sm-12 roster-warning">
				<h3>MLB Roster is in VIOLATION!!</h3>
				<p>The maximum active MLB roster size is 25 players, and you currently have <%= @players.where(level_id: 1).count %>.  You are blocked from adding players until you are in compliance with the rules.</p>
				<h3>STOP CHEATING PLEASE</h3>
			</div>
		<% end %>
		<div class="col-sm-7">
			<h3>MLB Roster</h3>
			<table class="table">
				<% @players.where(level_id: 1).order(:position_id).each do |player| %>
					<tr>
						<td><%= player.position.spot %></td>
							<% if !player.player_note.blank? %>
								<td><%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></td>
							<% else %>
								<td><%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></td>
							<% end %>
						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Demote or DL", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="col-sm-5">
			<% if @players.where(level_id: 7).count > 0 %>
				<% if @players.where(level_id: 7).count > 5 %>
					<div class="col-sm-12 roster-warning">
						<h3>Yahoo! DL VIOLATION!!</h3>
						<p>There are 5 Yahoo! DL spots available, and you currently have <%= @players.where(level_id: 8).count %>.  You are blocked from adding any players until this is fixed..</p>
						<h3>STOP CHEATING PLEASE</h3>
					</div>
				<% end %>

				<h3>Yahoo! DL</h3>
				<table class="table space-my-bottom">
					<% @players.where(level_id: 7).order(:position_id).each do |player| %>
						<tr>
							<td><%= player.position.spot %></td>
							<% if !player.player_note.blank? %>
								<td><%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
							<% else %>
								<td><%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
							<% end %>
							<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
								<td><%= button_to "Activate", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
								<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
							<% end %>
						</tr>
					<% end %>
				</table>
			<% end %>

			<% if @players.where(level_id: 2).count >0 %>
				<h3>60 Day DL</h3>
				<table class="table">
					<% @players.where(level_id: 2).order(:position_id).each do |player| %>
						<tr>
							<td><%= player.position.spot %></td>
							<% if !player.player_note.blank? %>
								<td><%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
								<% if player.activate %>
									<small>Activate on or after <%= player.activate.strftime("%-m/%-d") %></small></td>
								<% end %>
							<% else %>
								<td><%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<% if player.activate %>
									<small>Activate on or after <%= player.activate.strftime("%-m/%-d") %></small></td>
								<% end %>
							<% end %>
							<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
								<td><%= button_to "Activate", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
								<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
							<% end %>
						</tr>
					<% end %>
				</table>
			<% end %>	
		</div>
	</div>

	<div class="row center content-container minor-image">
		<% if @players.where(level_id: 3..5).count > 18 %>
			<div class="col-sm-12 roster-warning">
				<h3>MiLB Roster is in VIOLATION!!</h3>
				<p>The maximum MiLB roster size is 18 players, and you currently have <%= @players.where(level_id: 3..5).count %>.  You are blocked from adding any players until you are in compliance with the rules.</p>
				<h3>STOP CHEATING PLEASE</h3>
			</div>
		<% end %>

		<div class="col-md-4 give-me-top-margin">
			<% if !@user.aaa.nil? %>
				<%= image_tag((@user.id).to_s + "aaa.PNG", :alt => @user.team + " Logo") %>
				<h3><%= @user.aaa %></h3>
				<p>AAA Team</p>
			<% else %>
				<%= image_tag((@user.id).to_s + "aaa.PNG", :alt => @user.team + " Logo") %>
				<h3>AAA Team</h3>
			<% end %>
			<table class="table">
				<% @players.where(level_id: 5).each do |player| %>

					<% if player.dob && ((Date.today.year - player.dob.year > 26) || ((Date.today.year - player.dob.year) > 25) && (Date.today.month - player.dob.month) >= 0  && (Date.today.day - player.dob.day >= 0)) %>
						<tr class="milb-warning">
					<% else %>
						<tr>
					<% end %>
						<td><%= player.position.spot %></td>
						<% if player.dob %>
							<td>
								<% if !player.player_note.blank? %>
									<%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
								<% else %>
									<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<% end %>
								<small><%= player.dob.strftime("%-m/%-d/%y") %></small>
							</td>
						<% else %>
							<td class="milb-warning">
								<% if !player.player_note.blank? %>
									<%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
								<% else %>
									<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<% end %>
								<small>Needs DOB</small></td>
						<% end %>

						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Promote", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	
		<div class="col-md-4 give-me-top-margin">
			<% if !@user.aa.nil? %>
				<%= image_tag((@user.id).to_s + "aa.PNG", :alt => @user.team + " Logo") %>
				<h3><%= @user.aa %></h3>
				<p>AA Team</p>
			<% else %>
				<%= image_tag((@user.id).to_s + "aa.PNG", :alt => @user.team + " Logo") %>
				<h3>AA Team</h3>
			<% end %>
			<table class="table">
				<% @players.where(level_id: 4).order(:position_id).each do |player| %>

					<% if player.dob && ((Date.today.year - player.dob.year > 25) || ((Date.today.year - player.dob.year) > 24) && (Date.today.month - player.dob.month) >= 0  && (Date.today.day - player.dob.day >= 0)) %>
						<tr class="milb-warning">
					<% else %>
						<tr>
					<% end %>
						<td><%= player.position.spot %></td>
						<% if player.dob %>
							<td>
								<% if !player.player_note.blank? %>
									<%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
								<% else %>
									<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<% end %>
								<small><%= player.dob.strftime("%-m/%-d/%y") %></small>
							</td>
						<% else %>
							<td class="milb-warning">
								<% if !player.player_note.blank? %>
									<%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
								<% else %>
									<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<% end %>
								<small>Needs DOB</small></td>
						<% end %>

						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Promote", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		
		<div class="col-md-4 give-me-top-margin">
			<% if !@user.a.nil? %>
				<%= image_tag((@user.id).to_s + "a.PNG", :alt => @user.team + " Logo") %>
				<h3><%= @user.a %></h3>
				<p>A Team</p>
			<% else %>
				<%= image_tag((@user.id).to_s + "a.PNG", :alt => @user.team + " Logo") %>
				<h3>A Team</h3>
			<% end %>
			<table class="table">
				<% @players.where(level_id: 3).order(:position_id).each do |player| %>

					<% if player.dob && ((Date.today.year - player.dob.year > 23) || ((Date.today.year - player.dob.year) > 22) && (Date.today.month - player.dob.month) >= 0  && (Date.today.day - player.dob.day >= 0)) %>
						<tr class="milb-warning">
					<% else %>
						<tr>
					<% end %>
						<td><%= player.position.spot %></td>
						<% if player.dob %>
							<td>
								<% if !player.player_note.blank? %>
									<%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
								<% else %>
									<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<% end %>
								<small><%= player.dob.strftime("%-m/%-d/%y") %></small>
							</td>
						<% else %>
							<td class="milb-warning">
								<% if !player.player_note.blank? %>
									<%= link_to "#{player.first_name} #{player.last_name} *", player_path(player), class: "player-link" %></br>
								<% else %>
									<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<% end %>
								<small>Needs DOB</small></td>
						<% end %>
						
						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Promote", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

	<% if @players.where(level_id: 6).count > 0 %>
		<div class="row content-container">
			<div class="col-sm-12 center">
				<h1>Draft Picks</h1>
			</div>
			<div class="col-sm-6 center">
				<table class="table">
					<% @year1.order("id ASC").each do |player| %>
						<tr>
							<td><%= link_to "#{player.last_name} (#{player.first_name})", player_path(player), class: "player-link" %></td>
						</tr>
					<% end %>
				</table>
			</div>

			<div class="col-sm-6 center">
				<table class="table">
					<% @year2.order("id ASC").each do |player| %>
						<tr>
							<td><%= link_to "#{player.last_name} (#{player.first_name})", player_path(player), class: "player-link" %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>

	<% if @transactions.count == 0 %>
	<% else %>
		<div class="row content-container">
			<div class="col-sm-12 center">
				<h1>Recent Transactions</h1>
			</div>
			<div class="col-sm-12 center">
				<%= will_paginate @transactions, :page_links => false %>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<table class="table">
					<%= render 'transactions/recent_team_transactions' %>
				</table>
			</div>

		</div>
	<% end %>

	
</div>
