<%= provide(:title, @user.team) %>

<div class="container">
	<div class="row content-container">
		<% if !@user.about.blank? %>
			<div class="col-sm-5">
				<h1><%= @user.team %></h1>
				<h4>Managed by: <%= @user.name %></h4>
				<p>Current Roster Size:  <%= @players.count %> players</p>
				<small>(<%= @user.transactions.all.count %> website transactions made)</small>
			</div>
			<div class="col-sm-7">
				<h3 class="center">More about us:</h3>
				<p><%= simple_format(@user.about) %></p>
			</div>
		<% else %>
			<div class="col-sm-8 col-sm-offset-2 center">
				<h1><%= @user.team %></h1>
				<h4>Managed by: <%= @user.name %></h4>
				<p>Current Roster Size:  <%= @players.count %> players</p>
				<small>(<%= @user.transactions.all.count %> website transactions made)</small>
			</div>
		<% end %>
	</div>

	<div class="row center content-container">
		<% if @players.where(level_id: 1).count > 30 %>
			<div class="col-sm-12 roster-warning">
				<h3>MLB Roster is in VIOLATION!!</h3>
				<p>The maximum MLB roster size is 30 players (including MLB DL), and you currently have <%= @players.where(level_id: 1).count %>.  If this continues, random players will be removed from your roster until you are in compliance with the rules.</p>
				<h3>STOP CHEATING PLEASE</h3>
			</div>
		<% end %>
		<div class="col-sm-7">
			<h3>MLB Roster</h3>
			<table class="table">
				<% @players.where(level_id: 1).order(:position_id).each do |player| %>
					<tr>
						<td><%= player.position.spot %></td>
						<td><%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></td>
						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Demote or DL", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="col-sm-5">
			<h3>60 Day DL</h3>
			<table class="table">
				<% @players.where(level_id: 2).order(:position_id).each do |player| %>
					<tr>
						<td><%= player.position.spot %></td>
						<td><%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></td>
						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Activate", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

	<div class="row center content-container">
		<% if @players.where(level_id: 3..5).count > 18 %>
			<div class="col-sm-12 roster-warning">
				<h3>MiLB Roster is in VIOLATION!!</h3>
				<p>The maximum MiLB roster size is 18 players, and you currently have <%= @players.where(level_id: 3..5).count %>.  If this continues, random players will be removed from your roster until you are in compliance with the rules.</p>
				<h3>STOP CHEATING PLEASE</h3>
			</div>
		<% end %>

		<div class="col-md-4">
			<% if !@user.aaa.nil? %>
				<h3><%= @user.aaa %></h3>
				<p>AAA Team</p>
			<% else %>
				<h3>AAA Team</h3>
			<% end %>
			<table class="table">
				<% @players.where(level_id: 5).order(:position_id).each do |player| %>

					<% if player.dob && ((Date.today.year - player.dob.year) > 25 && (Date.today.month - player.dob.month) >= 0  || Date.today.year - player.dob.year > 26) %>
						<tr class="milb-warning">
					<% else %>
						<tr>
					<% end %>
						<td><%= player.position.spot %></td>
						<% if player.dob %>
							<td>
								<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<small><%= player.dob.strftime("%-m/%-d/%y") %></small>
							</td>
						<% else %>
							<td class="milb-warning"><%= "#{player.first_name} #{player.last_name}" %></br><small>Needs DOB</small></td>
						<% end %>

						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Promote", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	
		<div class="col-md-4">
			<% if !@user.aa.nil? %>
				<h3><%= @user.aa %></h3>
				<p>AA Team</p>
			<% else %>
				<h3>AA Team</h3>
			<% end %>
			<table class="table">
				<% @players.where(level_id: 4).order(:position_id).each do |player| %>

					<% if player.dob && ((Date.today.year - player.dob.year) > 24 && (Date.today.month - player.dob.month) >= 0  || Date.today.year - player.dob.year > 25) %>
						<tr class="milb-warning">
					<% else %>
						<tr>
					<% end %>
						<td><%= player.position.spot %></td>
						<% if player.dob %>
							<td>
								<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<small><%= player.dob.strftime("%-m/%-d/%y") %></small>
							</td>
						<% else %>
							<td class="milb-warning"><%= "#{player.first_name} #{player.last_name}" %></br><small>Needs DOB</small></td>
						<% end %>
						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Promote", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		
		<div class="col-md-4">
			<% if !@user.a.nil? %>
				<h3><%= @user.a %></h3>
				<p>A Team</p>
			<% else %>
				<h3>A Team</h3>
			<% end %>
			<table class="table table-condensed">
				<% @players.where(level_id: 3).order(:position_id).each do |player| %>

					<% if player.dob && ((Date.today.year - player.dob.year) > 22 && (Date.today.month - player.dob.month) >= 0 || Date.today.year - player.dob.year > 23) %>
						<tr class="milb-warning">
					<% else %>
						<tr>
					<% end %>
						<td><%= player.position.spot %></td>
						<% if player.dob %>
							<td>
								<%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "player-link" %></br>
								<small><%= player.dob.strftime("%-m/%-d/%y") %></small>
							</td>
						<% else %>
							<td class="milb-warning"><%= "#{player.first_name} #{player.last_name}" %></br><small>Needs DOB</small></td>
						<% end %>
						<% if (logged_in? && @user.id == current_user.id) || (logged_in? && current_user.admin?) %>
							<td><%= button_to "Promote", edit_player_path(player), :method => :get, class: "btn btn-add" %></td>
							<td><%= button_to "Drop", drop_player_path(player), :method => :get, class: "btn btn-drop" %></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

	<% if @transactions.count == 0 %>
	<% else %>
		<div class="row content-container">
			<div class="col-sm-12 center">
				<h1>Recent Transactions</h1>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<table class="table">
					<%= render 'transactions/recent_team_transactions' %>
				</table>
			</div>
		</div>
	<% end %>
</div>
