<tr class="table-header">
	<th>Title</br><small class="team-non-link">Author</small></td>
	<th>Selector</th>
	<th>Start</th>
	<th>End</th>
</tr>
<% @books.order("id DESC").limit(5).each do |book| %>
	<tr>
		<td><%= link_to book.title, book_path(book), class: "team-link" %></br><small><%= book.author %></td>		
		<td><%= book.selector %></td>
		<td><%= book.start.strftime("%-m/%-d/%y") %></td>
		<td><%= book.end.strftime("%-m/%-d/%y") %></td>
	</tr>
<% end %>