<% if @book %>

	<%= provide(:title, @book.title) %>

	<div class="container">
		<div class="row content-container">
			<div class="col-sm-12">
				<h1 class="team-non-link"><%= @book.title %></h1>
				<p>By: <%= @book.author %></p>
				<p><small>Selection by <%= @book.selector %>, and read between <%= @book.start.strftime("%-m/%-d/%y") %> and <%= @book.end.strftime("%-m/%-d/%y") %>.</small></p>

			</div>
			<div class="col-sm-12 space-my-bottom">
				<h2>Summary:</h2>
				<p><%= simple_format(@book.summary) %></p>
			</div>

			<div class="col-sm-12 space-my-bottom">
				<%= link_to "Reviews (#{@book.reviews.count})", "#", class: "btn btn-lg review-link reviews-link" %>
			</div>

			<div class="review-section">
				<div class="col-sm-10 col-sm-offset-1 center">
					<h2>GLCTAC's thoughts on the book:</h2>
				</div>
					
				<div class="reviews">
					<%= render @reviews %>
				</div>

				<% if logged_in? %>
					<div class="col-sm-6 col-sm-offset-1 give-me-top-margin match-response-margin">
						<%= render 'reviews/review_form' %>
					</div>
				<% end %>
			</div>

			<div class="col-sm-12 give-me-top-margin space-my-bottom">
			 	<%= link_to "Return to All Selections....", glctac_all_books_path, class: "team-link" %>
			</div>

		</div>
	</div>
<% else %>
	<h1> No books yet, please add one</h1>
<% end %>
