<%= simple_form_for Response.new do |f| %>
  <%= f.input :reply, label: "Reply:", :required => false %>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :post_id, :as => :hidden, :input_html => { :value => @post.id } %>
  <div class="center give-me-top-margin">
  	<%= f.button :submit, class: "btn btn-cancel" %>
  </div>
<% end %>