<%= simple_form_for @player do |f| %>

	<% if current_user.admin? %>
		<%= f.input :first_name, label: "First Name", :required => false %>
		<%= f.input :last_name, label: "Last Name", :required => false %>
		<%= f.association :position, as: :radio_buttons, :label_method => lambda { |position| "#{position.spot}" }, label: "Position (primary)", :required => false %>
		<%= f.association :user, :label_method => lambda { |user| "#{user.team}" }, label: "Team (if Trade, team traded to)" %>
		<%= f.association :level, as: :radio_buttons, :label_method => lambda { |level| "#{level.league}" }, label: "To which level?" %>
		<% if @player.dob.nil? %>
			<%= f.input :dob, :include_blank => true, :start_year => 1985, :end_year => 2015, :order => [:month, :day, :year], label: "Date of Birth (if demoting)" %> 
		<% end %>
		<%= f.input :retro, :include_blank => true, :start_year => 2016, :order => [:month, :day, :year], label: "If 60 Day DL, date added:" %>
		<%= f.input :trade_info, label: "Full Trade Details", :required => false %>
		<%= f.button :submit, "Update #{@player.first_name} #{@player.last_name}?", class: "btn btn-cancel give-me-top-margin" %>
		<%= link_to "Cancel", player_path(@player), class: "btn btn-danger give-me-top-margin" %>

	<% else %>
		<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

		<% if @player.retro && @player.activate %>
			<h4><%= "Player was added to DL on #{@player.retro.strftime("%B %-d")}, and should be activated on, or after #{@player.activate.strftime("%B %-d")}." %></h4>
			<%= f.input :level_id, :as => :hidden, :input_html => { :value => 1 } %>
			<%= f.input :retro, :as => :hidden, :input_html => { :value => nil } %>
			<%= f.input :activate, :as => :hidden, :input_html => { :value => nil } %>
			<%= f.button :submit, "Activate #{@player.first_name} #{@player.last_name}?", class: "btn btn-cancel give-me-top-margin" %>
			<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

		<% elsif @player.level_id == 2 %>
			<h4><%= "Player was improperly added to DL.  Please activate, then place the player on 60 Day DL with correct Added Date." %></h4>
			<%= f.input :level_id, :as => :hidden, :input_html => { :value => 1 } %>
			<%= f.input :retro, :as => :hidden, :input_html => { :value => nil } %>
			<%= f.input :activate, :as => :hidden, :input_html => { :value => nil } %>
			<%= f.button :submit, "Activate #{@player.first_name} #{@player.last_name}?", class: "btn btn-cancel give-me-top-margin" %>
			<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

		<% elsif @player.level_id == 7 %>
			<h4><%= "Player is currently on the Yahoo! DL" %></h4>
			<%= f.input :level_id, :as => :hidden, :input_html => { :value => 1 } %>
			<%= f.button :submit, "Activate #{@player.first_name} #{@player.last_name}?", class: "btn btn-cancel give-me-top-margin" %>
			<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

		<% elsif @player.level_id == 3 || @player.level_id == 4 || @player.level_id == 5 || @player.level_id == 8 %>
			<%= f.association :level, :collection => Level.where("id != 2 AND id != 6 AND id != 7"), as: :radio_buttons, :label_method => lambda { |level| "#{level.league}" }, label: "To which level?" %>
			<div class="dob">
				<% if @player.dob.nil? %>
					<%= f.input :dob, :include_blank => true, :start_year => 1985, :end_year => 2015, :order => [:month, :day, :year], label: "Date of Birth" %> 
				<% end %>
			</div>
			<%= f.button :submit, class: "btn btn-cancel give-me-top-margin" %>
			<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

		<% else %>
			<%= f.association :level, :collection => Level.where("id != 6"), as: :radio_buttons, :label_method => lambda { |level| "#{level.league}" }, label: "Promote or Demote to which level?" %>
			<div class="sixtyday">
				<%= f.input :retro, :include_blank => true, :start_year => 2016, :order => [:month, :day, :year], label: "Date Added to DL" %>
			</div>
			<div class="dob">
				<% if @player.dob.nil? %>
					<%= f.input :dob, :include_blank => true, :start_year => 1985, :end_year => 2015, :order => [:month, :day, :year], label: "Date of Birth", class: "milb-radio" %> 
				<% end %>
			</div>
			<%= f.button :submit, class: "btn btn-cancel give-me-top-margin", data: { confirm: "If you demote or DL an ineligible player, you will lose his rights.  Click 'Okay' only if you have confirmed #{@player.first_name} #{@player.last_name}'s eligibility." } %>
			<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

		<% end %>
	<% end %>
	
		
<% end %>