<%= simple_form_for @player do |f| %>

	<% if current_user.admin? %>
		<%= f.input :first_name, label: "First Name", :required => false %>
		<%= f.input :last_name, label: "Last Name", :required => false %>
		<%= f.association :user, :label_method => lambda { |user| "#{user.team}" }, label: "Team (if owned)" %>

	<% else %>
		<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
	<% end %>
	
	<% if @player.retro && @player.activate %>
		<h4><%= "Player was added to DL on #{@player.retro.strftime("%B %-d")}, and should be activated on, or after #{@player.activate.strftime("%B %-d")}." %></h4>
		<%= f.input :level_id, :as => :hidden, :input_html => { :value => 1 } %>
		<%= f.input :retro, :as => :hidden, :input_html => { :value => nil } %>
		<%= f.input :activate, :as => :hidden, :input_html => { :value => nil } %>
		<%= f.button :submit, "Activate #{@player.first_name} #{@player.last_name}?", class: "btn btn-cancel give-me-top-margin" %>
		<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

	<% elsif @player.level.league == "60 Day DL" %>
		<h4><%= "Player was improperly added to DL.  Please activate, then place the player on 60 Day DL with correct Added and Activation Dates." %></h4>
		<%= f.input :level_id, :as => :hidden, :input_html => { :value => 1 } %>
		<%= f.input :retro, :as => :hidden, :input_html => { :value => nil } %>
		<%= f.input :activate, :as => :hidden, :input_html => { :value => nil } %>
		<%= f.button :submit, "Activate #{@player.first_name} #{@player.last_name}?", class: "btn btn-cancel give-me-top-margin" %>
		<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

	<% elsif @player.level_id == 3 || @player.level_id == 4 || @player.level_id == 5 %>
		<%= f.association :level, :collection => Level.where("id != 2"), as: :radio_buttons, :label_method => lambda { |level| "#{level.league}" }, label: "To which level?" %>
		<%= f.button :submit, class: "btn btn-cancel give-me-top-margin" %>
		<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

	<% else %>
		<%= f.association :level, as: :radio_buttons, :label_method => lambda { |level| "#{level.league}" }, label: "Promote or Demote to which level?" %>
		<%= f.input :retro, :include_blank => true, :discard_year => true, :order => [:month, :day], label: "If 60 Day DL, date added:" %>
		<%= f.input :activate, :include_blank => true, :discard_year => true, :order => [:month, :day], label: "If 60 Day DL, activation date:" %>
		<%= f.button :submit, class: "btn btn-cancel give-me-top-margin" %>
		<%= link_to "Cancel", user_path(@player.user), class: "btn btn-danger give-me-top-margin" %>

	<% end %>
<% end %>