<%= provide(:title, "All Players") %>
<div class="container content-container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-4 space-my-bottom center">
			<h1>Franklin Fantasy Player Database</h1>
		</div>
		<div class="col-sm-3 center give-me-top-margin relative-position">
			<%= render 'players/player_search_form' %>
		</div>

		<div class="col-sm-8 col-sm-offset-4">
			<div class="row">
				<div class="col-sm-7">
					<small class="team-non-link">Sort by...</small>
					<p><%= link_to "All", players_path, class: "team-link" %> | <%= link_to "Available", all_unowned_path, class: "team-link" %> | <%= link_to "Owned MLB", all_mlb_path, class: "team-link" %> | <%= link_to "Owned MiLB", all_milb_path, class: "team-link" %> | <%= link_to "60 Day DL", all_sixtyday_path, class: "team-link" %></p>
				</div>
				<div class="col-sm-5">
					<small class="team-non-link">Or by position</small>
					<p>C | <%= link_to "1B", all_first_path, class: "team-link" %> | <%= link_to "2B", all_second_path, class: "team-link" %> | <%= link_to "3B", all_third_path, class: "team-link" %> | <%= link_to "SS", all_short_path, class: "team-link" %> | <%= link_to "OF", all_of_path, class: "team-link" %> | <%= link_to "SP", all_sp_path, class: "team-link" %> | <%= link_to "RP", all_rp_path, class: "team-link" %></p>
				</div>
			</div>
			<% if @players.count == 0 %>
				<h3>There are no players matching your search.</h3>
				<% if logged_in? %>  
					<p>Check your spelling and try again, or email ffblwebsite@gmail.com to request this player be added to your team and/or the player database.</p>
				<% end %>
			<% else %>
				<table class="table">
					<% @players.order(:last_name).each do |player| %>
						<tr>
							<td><%= link_to "#{player.last_name}, #{player.first_name}", player_path(player), class: "player-link" %></td>
							<td><%= player.position.spot %></td>
							<% if player.user_id %>
								<td><%= link_to "#{player.user.team}", user_path(player.user), class: "team-link" %></td>
								<% if player.level %>
									<td><%= "#{player.level.league}" %></td>
								<% else %>
									<td></td>
								<% end %>
							<% elsif logged_in? %>
								<td><%= button_to "Add Player", add_player_path(player), class: "btn btn-add", :method => :get %>
								<td></td>	
							<% else %>
								<td></td>
								<td></td>
							<% end %>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	</div>
</div>
