<%= provide(:title, "All Players") %>

<%= render 'players/player_search_form' %>

<% if @players.count == 0 %>
	<h3>There are no players matching your search.</h3>
	<% if logged_in? %>  
		<p>Check your spelling and try again, or email mcbyrnewpi@yahoo.com to request this player be added to your team and/or the player database.</p>
	<% end %>
<% else %>
<ul>
	<% @players.each do |player| %>
	<li>
		<%= player.last_name + ", " + player.first_name + "  |  " + player.position.spot %>
		<% if player.user_id %>
			<%= link_to "  |  #{player.user.team}", user_path(player.user) %>
			<% if player.level %>
				<%= "  |  #{player.level.league}" %>
			<% end %>
		<% elsif logged_in? %>
			<%= link_to "  |  Add Player", add_player_path(player) %>
		<% end %>
	</li>
	<% end %>
</ul>
<% end %>