<%= provide(:title, "All Posts") %>

<div class= "container content-container">
	<div class="row">
		<div class="col-sm-12 center">
			<h1 class="space-my-bottom">FFBL Message Board</h1>
		</div>
		<div class="col-sm-4">
				<%= link_to "Create a New Topic", new_post_path, class: "btn btn-cancel" %>
		</div>
		<div class="col-sm-6 col-sm-offset-2">
			<%= will_paginate @posts %>
		</div>
		<div class="col-sm-12">
			<table class="table">
				<tr class="table-header">
					<th>Topic</th>
					<th>Replies</th>
					<th>Recent Activity</th>
				</tr>
				<% @posts.each do |post| %>
					<tr>
						<td><h4><%= link_to post.topic, post_path(post), class: "post-link" %></h4>
						<small> by <%= link_to post.user.name, user_path(post.user), class: "team-link" %> on <%= post.created_at.strftime("%b %-d, %Y") %></small></td>
						<td><small><%= post.responses.count %> replies</small></td>
						<% if post.responses.count > 0 %>
							<td><small><%= post.responses.last.user.name %>, <%= time_ago_in_words(post.responses.last.created_at) %> ago</small></td>
						<% else %>
							<td></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
