<%= provide(:title, "All Posts") %>

<div class= "container content-container">
	<div class="row">
		<div class="col-sm-12 center">
			<h1 class="space-my-bottom">FFBL Message Board</h1>
		</div>
		<div class="col-sm-4">
				<%= link_to "Create a New Topic", '#', class: "btn btn-cancel post-button" %>
		</div>

		<div class="col-sm-6 col-sm-offset-2">
			<%= will_paginate @posts, :page_links => false %>
		</div>
		<div class="col-sm-12">
			<%= render 'posts_table' %>
		</div>
	</div>
</div>

<div class="container post-topic-popup">
	<div class="row post-topic-popup-inner">
		<%= link_to "x", '#', class: "popup-close" %>
		<%= render 'posts/new_post_form' %>
	</div>
</div>
