<%= provide(:title, @post.topic) %>

<div class="container">
	<div class="row content-container">
		<div class="col-sm-4 give-me-top-margin space-my-bottom">
		 	<%= link_to "Return to Message Board....", posts_path, class: "team-link" %>
		</div>
		<div class="col-sm-11 post-content">
			<small><%= @post.user.name %> wants to talk about </small>
			<small>"<%= @post.topic %>"</small>
			<p><%= simple_format(@post.content) %></p>
			<small>at <%= @post.created_at.strftime("%l:%M %P") %> on <%= @post.created_at.strftime("%b %-d, %Y") %></small>
		</div>
		
		<% if @responses.count > 0 %>
			<% @post.responses.each do |response| %>
				<div class="col-sm-10 col-sm-offset-1 response-content">
					<small><%= response.user.name %> replied...</small>
					<p><%= simple_format(response.reply) %></p>
					<small class="response-created">at <%= response.created_at.strftime("%l:%M %P") %> on <%= response.created_at.strftime("%b %-d, %Y") %></small>
				</div>
			<% end %>
			<div class="col-sm-12 give-me-top-margin space-my-bottom">
			 	<%= link_to "Return to Message Board....", posts_path, class: "team-link" %>
			</div>
			<% if logged_in? %>
				<div class="col-sm-6 give-me-top-margin match-response-margin">
					<%= render 'responses/response_form' %>
				</div>
			<% end %>
		<% elsif logged_in? %>
			<div class="col-sm-6 give-me-top-margin match-response-margin">
				<%= render 'responses/response_form' %>
			</div>
		<% else %>
		<% end %>
		<div class="col-sm-12 give-me-top-margin space-my-bottom">
		 	<%= link_to "Return to Message Board....", posts_path, class: "team-link" %>
		</div>
	</div>
</div>

