<%= provide(:title, @post.topic) %>

<div class="container">
	<div class="row content-container">
		<div class="col-sm-4 give-me-top-margin">
		 	<%= link_to "Return to Message Board....", posts_path, class: "team-link" %>
		</div>
		
		<%= render "post" %>
		
		<div class="response-section">
			<div class="responses">
				<%= render @responses %>
			</div>

			<% if logged_in? %>
				<div class="col-sm-6 col-sm-offset-1 give-me-top-margin match-response-margin">
					<%= render 'responses/response_form' %>
				</div>
			<% end %>

			<div class="col-sm-12 give-me-top-margin space-my-bottom">
			 	<%= link_to "Return to Message Board....", posts_path, class: "team-link" %>
			</div>
		</div>
		
	</div>
</div>

