<tr class="table-header">
	<th>Player</th>
	<th>Team</th>
	<th>Action</th>
	<th>Details</th>
	<th></th>
</tr>

<% @transactions.limit(5).each do |transaction| %>
	<tr>
		<td><%= "#{transaction.player.first_name} #{transaction.player.last_name}" %></td>
		
		<% if (transaction.team_before != nil && transaction.team_after != nil) && (transaction.team_before != transaction.team_after) %>
			<td><%= link_to "TRADE", transaction_path(transaction), class: "team-link" %></td>
			<td><%= "to #{transaction.team_after}" %></td>
		<% end %>

		<% if transaction.team_before == nil && (transaction.league_after == "MLB" || transaction.league_after == "AAA" || transaction.league_after == "AA" || transaction.league_after == "A") %>
			<td>ADD</td>
			<td><%= "to #{transaction.league_after}" %></td>
		<% end %>

		<% if (transaction.team_before == nil || transaction.league_before == "A" || transaction.league_before == "AA" || transaction.league_before == "AAA") && transaction.league_after == "60 Day DL" %>
			<td>CHEATER</td>
			<td>Can't pickup or promote, then immediately DL...</td>
		<% end %>

		<% if transaction.team_before != nil && transaction.team_after == nil %>
			<td>DROP</td>
			<td><%= "to FA" %></td>
		<% end %>

		<% if transaction.league_before == "MLB" && transaction.league_after == "60 Day DL" %>
			<td>60 Day DL</td>
			<% if transaction.player.retro && transaction.player.activate %>
				<td><%= "#{transaction.player.retro.strftime("%B %-d")} to #{transaction.player.activate.strftime("%B %-d")}" %></td>
			<% else %>
				<td>Please update with dates</td>
			<% end %>
		<% end %>

		<% if transaction.league_before == "60 Day DL" && transaction.league_after == "MLB" %>
			<td>ACTIVATE</td>
			<td><%= "#{transaction.league_before} to #{transaction.league_after}" %></td>
		<% end %>

		<% if ((transaction.league_before == "MLB" && (transaction.league_after == "AAA" || transaction.league_after == "AA" || transaction.league_after == "A")) || (transaction.league_before == "AAA" && (transaction.league_after == "AA" || transaction.league_after == "A")) || (transaction.league_before == "AA" && (transaction.league_after == "A"))) %>
			<td>DEMOTE</td>
			<td><%= "#{transaction.league_before} to #{transaction.league_after}" %></td>
		<% end %>

		<% if ((transaction.league_before == "A" && (transaction.league_after == "AA" || transaction.league_after == "AAA" || transaction.league_after == "MLB")) || (transaction.league_before == "AA" && (transaction.league_after == "AAA" || transaction.league_after == "MLB")) || (transaction.league_before == "AAA" && transaction.league_after == "MLB")) %>
			<td>PROMOTE</td>
			<td><%= "#{transaction.league_before} to #{transaction.league_after}" %></td>
		<% end %>

		<td><small><%= transaction.created_at.strftime("%l:%M %P") %>, <%= transaction.created_at.strftime("%-m/%-d/%y") %><small></td>
	</tr>
<% end %>

