<%= provide(:title, "All Transactions") %>

<div class= "container content-container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-4 space-my-bottom center">
			<h1>All FFBL Website Transactions</h1>
		</div>
		<div class="col-sm-3 give-me-top-margin center relative-position">
			<%= render 'transaction_search_form' %>
		</div>
		<div class="col-sm-8 col-sm-offset-4 center give-me-top-margin">
			<%= will_paginate @transactions %>
		</div>
		<div class="col-sm-8 col-sm-offset-4">

			<% if @transactions.count == 0 %>
				<h3>There are no transactions matching your search.</h3>
				<p>Check your spelling and try again.</p>

			<% else %>
				<table class="table">
					<tr class="table-header">
						<th>Player</th>
						<th>Team</th>
						<th>Action</th>
						<th>Details</th>
						<th></th>
					</tr>
					<% @transactions.each do |transaction| %>
					<tr>
						<td><%= "#{transaction.player.first_name} #{transaction.player.last_name}" %></td>

						<% if (transaction.team_before != nil && transaction.team_after != nil) && (transaction.team_before != transaction.team_after) %>
							<td><%= "#{transaction.team_before}" %></td>
							<td><%= link_to "TRADE", transaction_path(transaction), class: "team-link" %></td>
							<td><%= "to #{transaction.team_after}" %></td>
						<% end %>
						
						<% if transaction.team_before == nil && (transaction.league_after == "MLB" || transaction.league_after == "AAA" || transaction.league_after == "AA" || transaction.league_after == "A") %>
							<td><%= "#{transaction.team_after}" %></td>
							<td>ADD</td>
							<td><%= "to #{transaction.league_after}" %></td>
						<% end %>

						<% if (transaction.team_before == nil || transaction.league_before == "A" || transaction.league_before == "AA" || transaction.league_before == "AAA") && transaction.league_after == "60 Day DL" %>
							<td>CHEATER</td>
							<td>Can't pickup or promote, then immediately DL...</td>
							<td>FIX IT NOW</td>
						<% end %>

						<% if transaction.team_before != nil && transaction.team_after == nil %>
							<td><%= "#{transaction.team_before}" %></td>
							<td>DROP</td>
							<td><%= "to FA" %></td>
						<% end %>

						<% if transaction.league_before == "MLB" && transaction.league_after == "60 Day DL" %>
							<td><%= "#{transaction.team_before}" %></td>
							<td>60 Day DL</td>
							<% if transaction.player.retro && transaction.player.activate %>
								<td><%= "#{transaction.player.retro.strftime("%B %-d")} to #{transaction.player.activate.strftime("%B %-d")}" %></td>
							<% else %>
								<td>Please update with dates</td>
							<% end %>
						<% end %>

						<% if transaction.league_before == "60 Day DL" && transaction.league_after == "MLB" %>
							<td><%= "#{transaction.team_after}" %></td>
							<td>ACTIVATE</td>
							<td><%= "#{transaction.league_before} to #{transaction.league_after}" %></td>
						<% end %>

						<% if ((transaction.league_before == "MLB" && (transaction.league_after == "AAA" || transaction.league_after == "AA" || transaction.league_after == "A")) || (transaction.league_before == "AAA" && (transaction.league_after == "AA" || transaction.league_after == "A")) || (transaction.league_before == "AA" && (transaction.league_after == "A"))) %>
							<td><%= "#{transaction.team_after}" %></td>
							<td>DEMOTE</td>
							<td><%= "#{transaction.league_before} to #{transaction.league_after}" %></td>
						<% end %>

						<% if ((transaction.league_before == "A" && (transaction.league_after == "AA" || transaction.league_after == "AAA" || transaction.league_after == "MLB")) || (transaction.league_before == "AA" && (transaction.league_after == "AAA" || transaction.league_after == "MLB")) || (transaction.league_before == "AAA" && transaction.league_after == "MLB")) %>
							<td><%= "#{transaction.team_after}" %></td>
							<td>PROMOTE</td>
							<td><%= "#{transaction.league_before} to #{transaction.league_after}" %></td>
						<% end %>

						<td><small><%= transaction.created_at.strftime("%l:%M %P") %>, <%= transaction.created_at.strftime("%-m/%-d/%y") %><small></td>
					</tr>
					<% end %>
				</table>
			<% end %>
			<%= will_paginate @transactions %>
		</div>
	</div>
</div>