<%= provide(:title, "All Transactions") %>

<div class= "container content-container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-4 space-my-bottom center">
			<h1>All FFBL Website Transactions</h1>
		</div>
		<div class="col-sm-3 give-me-top-margin center relative-position">
			<%= render 'transaction_search_form' %>
		</div>
		<div class="col-sm-8 col-sm-offset-4 center give-me-top-margin">
			<%= will_paginate @transactions, :page_links => false %>
		</div>
		<div class="col-sm-8 col-sm-offset-4">

			<% if @transactions.count == 0 %>
				<h3 class="center">There are no transactions matching your search.</h3>
				<p class="center">Check your spelling and try again.</p>

			<% else %>
				<%= render 'transactions_table' %>
			<% end %>
			<div class="center">
				<%= will_paginate @transactions, :page_links => false %>
			</div>
		</div>
	</div>
</div>