<footer class="main-footer">
  <div class="row">
    <div class="col-sm-4 hidden-xs">
      <%= link_to "FFBL Logo Here", root_path, class: "footer-logo" %>
    </div>

    <div class="col-sm-4 col-sm-offset-4 col-xs-offset-4">
      <div class="row">
        <div class="col-sm-6">
          <ul class="link-list">
            <li><%= link_to "About FFBL", about_path %></li>
            <li><%= link_to "Rules", rules_path %></li>
            <li><%= link_to "Documents", documents_path %></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="link-list">
            <li><%= link_to "Champions", champions_path %></li>
            <li><%= link_to "Player Records", player_records_path %></li>
            <li><%= link_to "Team Records", team_records_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="center footer-center">
      <p class="copyright"> &copy; 2015, Franklin Fantasy Baseball League</p>
      <small>Website by Bridge4 Web Development, a Division of FFBL Enterprises</small>
    </div>
  </div>
</footer>